:root {
    --darkpurple: #1A1627;
    --mintblue:#cee4f3;
    --offwhite: #F2F8FA;
    --highlight: #E5BB3E;
    --close: #D93662;
}

@font-face {
    font-family: titles;
    src: url("../fonts/Trirong-Black.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("../fonts/OpenSans-VariableFont.ttf");
}

@media (max-width: 767px) {
    html{
        overflow-y:scroll;
        height:100svh;
    }
    body,.container-flex,.container-flex{
        min-height: 100dvh;
    }
    #title-div{
        border-bottom: 5px solid var(--darkpurple);
    }
    .mobile-tab-inactive{
        display: none !important;
    }    
}

@media (min-width: 768px) {
    html,body{
        height:100dvh;
        overflow:hidden;
    }
    #title-div{
        border-bottom: 5px solid rgba(31, 90, 132, 1);
    }
    #mobile-no-graph-message{
        display: none;
    }
    #plotAndInstructionsContainer{
        box-shadow:inset 6px 0 6px -6px grey;
        height:100dvh;
    }
    #sideBar{
        height:100dvh;
    }
}

body{
    font-family:Open-sans, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-family: titles,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

header{
    background-color: var(--mintblue);
    color:var(--darkpurple);
    text-align: center;   
}

i{
    font-size: 20px;
    cursor: pointer;
}

.description{
    font-style: italic;
    margin:0;
}

.row{
    margin-left:0;
    margin-right:0;
}

select{
    width:100%;
    border-radius: 5px;
}

/* The desktop and mobile versions */
.all-buttons{  
    background: rgb(31, 90, 132);
    background: linear-gradient(90deg, rgba(35,85,126,1) 8%, rgba(39,113,165,1) 50%, rgba(35,85,126,1) 92%);
    color:white;
    border: 0;
}

#sideBar .all-buttons{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-buttons:hover{
    background: rgb(39,113,165);
    background: radial-gradient(circle, rgba(39,113,165,1) 29%, rgba(41,125,169,1) 49%, rgba(43,140,175,1) 73%, rgba(45,152,179,1) 84%, rgba(48,174,186,1) 98%);
    color:white;
}

.all-buttons.active{
    background: rgb(30,53,81);
    background: linear-gradient(90deg, rgba(30,53,81,1) 2%, rgba(35,85,126,1) 28%, rgba(39,113,165,1) 50%, rgba(35,85,126,1) 72%, rgba(30,53,81,1) 98%);
}

.all-buttons.active:hover{
    box-shadow: none;
    background: rgb(39,113,165);
    background: radial-gradient(circle, rgba(39,113,165,1) 29%, rgba(41,125,169,1) 49%, rgba(43,140,175,1) 73%, rgba(45,152,179,1) 84%, rgba(48,174,186,1) 98%);
}

.desktop-button{
    border-radius: 5px;
}

/* The filters container */
#filter-container{
    background-color: var(--darkpurple);
    color:var(--offwhite);
    padding:20px;
    flex-grow:1;
    flex-wrap: nowrap;
    overflow-y: auto;
}



#filter-by{
    flex-grow:0;
}

#filter-div-1{
    background-color: rgba(31, 90, 132, 1);
}

.filter-div{
    box-shadow: inset 0px -3px 10px -6px #000000aa;
}

.filter-div:last-of-type{
    box-shadow: none;
}

#radio-div{
    column-gap: 1rem;
}

.icon-info:hover{
    color: var(--mintblue);
}

.icon-close:hover{
    color: var(--close);
}

.custom-tooltip {
    --bs-tooltip-bg: var(--mintblue);
    --bs-tooltip-color: var(--darkpurple);
}

.highlight{
    color: var(--highlight);
}

/* The plot and instructions container */
#plotAndInstructionsContainer{
    background-color: var(--offwhite);
}

#instructions-container{
    overflow-y: auto;
    height:100%;
}

.top-padding-custom{
    padding-top:20px;
}

#breadcrumb{
    color:gray;
    font-family:"Open Sans", verdana, arial, sans-serif;
    font-size:smaller;
    flex-wrap: wrap;
}

#breadcrumb i{
    cursor: default;
    align-self: center;
}

.last-breadcrumb{
    color:rgb(31, 90, 132);
    font-size:medium;
    font-weight: bold;
}

#plot,#legend{
    box-shadow:0 0 6px -2px grey
}


#legend{
    background-color: white;
    flex-wrap: wrap;
    font-size: small;
    column-gap: 1rem;
}

.color{
    height: 10px;
    width: 10px;
    margin-right: 0.5rem;
}

#color-1{
    background-color: #3D2F73;   
}

#color-2{
    background-color: #30AEBA;   
}

#color-3{
    background-color: #D93662;   
}

#color-4{
    background-color: #E5BB3E;   
}

.ghost{
    position:relative;
    height:0px;
    overflow:visible;
}

#missingValuesNote{
    position:relative;
    bottom:30px;
    left:10px;
    z-index:8;
}

.grayedout-text{
    color:gray;
    font-style:italic;
    text-decoration: underline;
    font-family:"Open Sans", verdana, arial, sans-serif;
    font-size:smaller;
}

.contact-card{
    /* background-color: var(--mintblue);
    border-radius: 15px; */
    text-align: center;
    /* box-shadow: 2px 2px 5px -3px #000000aa; */
}

.contact-card p{
    font-weight: bold;
}

.contact-card a{
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px -3px #000000aa;
}

/* .contact-card a:hover{
    background-color: var(--highlight);
    color:var(--darkpurple);
    transition:.3s;
} */