/* https://coolors.co/db5461-686963-8aa29e-3d5467-f1edee */
/* For bars: https://coolors.co/eac435-345995-e40066-03cea4-fb4d3d */
/* https://coolors.co/ddfff7-93e1d8-ffa69e-aa4465-462255 */
/* :root {
    --color1: #81A4CD;
    --color2:#3E7CB1;
    --accent: #F17300;
    --back: #DBE4EE;
    --text: #054A91;
  } */

/* https://coolors.co/543b6b-587ab8-8fb5d1-dee8ef-d93662 */
:root {
    --color1: #ADD8DE;
    --color2:#D0E5E9;
    --accent: #1A1627;
    --back: #F2F8FA;
    --text: #00383D;
  }

html,body{
    height:100vh;
    overflow:hidden;
}

select{
    width:100%;
}

#sideBar{
    height:100vh;
}

#header{
    background-color: var(--color1);
    color:var(--text);
    text-align: center;
    padding:20px;
    border-bottom: 5px solid var(--text);
}

#filter{
    background-color: var(--accent);
    color:var(--back);
    padding:20px;
    flex-grow:1;
    flex-wrap: nowrap;
}

i{
    height:12px;
    width:12px;
}

#labelsContainer{
    margin-top: 5px;
    flex-grow:1;
    padding:5px inherit;
}

#filter-by{
    flex-grow:0;
}

.label{
    padding:3px 8px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: stretch;
    gap:3px;
}
.label:hover{
    background-color: #ADD8DE;    
    color:black;
}

#plotContainer{
    padding:20px;
    background-color: var(--back);
}

#title{
    font-weight: 700;
}

.row{
    margin-left:0;
    margin-right:0;
}

#pageDescription{
    font-style: italic;
}

table{
    width:100%;
    background-color: var(--back);
    color:black;
}
td,th{
    border:1px solid black;
    padding:2px;
}