/* https://coolors.co/db5461-686963-8aa29e-3d5467-f1edee */
/* For bars: https://coolors.co/eac435-345995-e40066-03cea4-fb4d3d */
/* https://coolors.co/ddfff7-93e1d8-ffa69e-aa4465-462255 */
/* :root {
    --color1: #81A4CD;
    --color2:#3E7CB1;
    --accent: #F17300;
    --back: #DBE4EE;
    --text: #054A91;
  } */

/* https://coolors.co/543b6b-587ab8-8fb5d1-dee8ef-d93662 */
:root {
    /* --color1: #ADD8DE; */
    --color1:#cee4f3;
    --color2:#D0E5E9;
    --accent: #1A1627;
    --back: #F2F8FA;
    /* --text: #00383D; */
    --text: #1A1627;
    --highlight: #E5BB3E;
    --icons: #D93662;
  }

select{
    width:100%;
}

@media (min-width: 768px) {
    #sideBar{
        height:100vh;
    }

    html,body{
        height:100vh;
        overflow:hidden;
    }
}

#header{
    background-color: var(--color1);
    color:var(--text);
    text-align: center;
    border-bottom: 5px solid var(--text);
}

#filter{
    background-color: var(--accent);
    color:var(--back);
    padding:20px;
    flex-grow:1;
    flex-wrap: nowrap;
    overflow-y: auto;
}

i{
    font-size: 20px;
    cursor: pointer;
}

#breadcrumb i{
    cursor: default;
}

.icon-info:hover{
    color: var(--color1);
}

.icon-close:hover{
    color: var(--icons);
}

.custom-tooltip {
    --bs-tooltip-bg: var(--color1);
    --bs-tooltip-color: var(--text);
}

#labelsContainer{
    margin-top: 5px;
    flex-grow:1;
    padding:5px inherit;
}

#filter-by{
    flex-grow:0;
}

.highlight{
    color: var(--highlight);
}

.label{
    padding:3px 8px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: stretch;
    gap:3px;
}
.label:hover{
    background-color: #ADD8DE;    
    color:black;
}

#plotAndInstructionsContainer{
    padding:20px;
    background-color: var(--back);
    z-index:5;
}

#radio-div{
    column-gap: 1rem;
}

.all-buttons{
    height: 100%;
    width: 100%;
    background: rgb(31, 90, 132);
    background: linear-gradient(90deg, rgba(35,85,126,1) 8%, rgba(39,113,165,1) 50%, rgba(35,85,126,1) 92%);
    color:white;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ADD8DE; */
    /* box-shadow: 0 0 10px 1px #30AEBA; */
}

.all-buttons:hover{
    background: rgb(39,113,165);
    background: radial-gradient(circle, rgba(39,113,165,1) 29%, rgba(41,125,169,1) 49%, rgba(43,140,175,1) 73%, rgba(45,152,179,1) 84%, rgba(48,174,186,1) 98%);
    color:white;
    /* box-shadow: inset 0 0 10px 1px var(--accent); */
    /* font-weight: bold; */
}

.all-buttons.active{
    /* box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.8); */
    /* background: rgb(39,113,165);
    background: radial-gradient(circle, rgba(39,113,165,1) 24%, rgba(35,85,126,1) 72%, rgba(30,53,81,1) 98%); */
    background: rgb(30,53,81);
    background: linear-gradient(90deg, rgba(30,53,81,1) 2%, rgba(35,85,126,1) 28%, rgba(39,113,165,1) 50%, rgba(35,85,126,1) 72%, rgba(30,53,81,1) 98%);
    /* font-weight: bold; */
}

.all-buttons.active:hover{
    box-shadow: none;
    background: rgb(39,113,165);
    background: radial-gradient(circle, rgba(39,113,165,1) 29%, rgba(41,125,169,1) 49%, rgba(43,140,175,1) 73%, rgba(45,152,179,1) 84%, rgba(48,174,186,1) 98%);
}

@media (max-width: 768px) {
    .mobile-tab-inactive{
        display: none !important;
    }

    /* .mobile-tab{
        display: block !important;
    } */
}

.desktop-button{
    border-radius: 5px;
}

#legend{
    background-color: white;
    flex-wrap: wrap;
    font-size: small;
    column-gap: 1rem;
}

.color{
    height: 10px;
    width: 10px;
    margin-right: 0.5rem;
}

#color-1{
    background-color: #3D2F73;   
}

#color-2{
    background-color: #2771A5;   
}

#color-3{
    background-color: #30AEBA;   
}

#color-4{
    background-color: #D93662;   
}

#color-5{
    background-color: #E5BB3E;   
}

.ghost{
    position:relative;
    height:0px;
    /* width:0px; */
    overflow:visible;
}

#breadcrumb{
    /* position:relative; */
    /* top:10px;
    left:10px; */
    color:gray;
    /* font-style:italic; */
    font-family:"Open Sans", verdana, arial, sans-serif;
    font-size:smaller;
    /* background:rgb(31, 90, 132); */
    flex-wrap: wrap;
    /* z-index:8; */
}

.last-breadcrumb{
    color:rgb(31, 90, 132);
}

#missingValuesNote{
    position:relative;
    bottom:30px;
    left:10px;
    color:gray;
    font-style:italic;
    font-family:"Open Sans", verdana, arial, sans-serif;
    font-size:smaller;
    /* white-space: nowrap; */
    z-index:8;
}

#title{
    font-weight: 700;
}

.row{
    margin-left:0;
    margin-right:0;
}

#pageDescription{
    font-style: italic;
}

table{
    width:100%;
    background-color: var(--back);
    color:black;
}

td,th{
    border:1px solid black;
    padding:2px;
}

#filter-div-1{
    background-color: rgba(31, 90, 132, 1);
}

/* .on-hover-child{
    display: none;
    position: absolute;
}

.on-hover-parent{
    position: relative;
}

.on-hover-parent:hover>.on-hover-child{
    display: block;
} */