:root {
    --color1: blue;
    --accent: red;
    --back: white;
    --text: black;
  }

body{
    background-color: var(--back);
    color: var(--text);
}

h1{
    color:var(--color1);
}

.special{
    color:var(--accent);
    /* font-style:italic; */
}